<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Movies</title>
		<!-- Bootstrap CSS -->
		<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

		<style>
			body {
				font-family: "Times New Roman", serif;
				padding: 20px;
			}

			.search-form {
				margin-bottom: 20px;
			}

			.actor-card {
				margin-bottom: 20px;
			}

			.movie-list {
				padding-left: 20px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1 class="mt-3">Elenco degli attori</h1>

			<form method="GET" class="search-form">
				<div class="input-group">
					<input type="text" name="last_name" class="form-control" placeholder="Search" required>
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">Search for a movie</button>
					</div>
				</div>
			</form>

			<ul class="list-unstyled">
				{% for actor in actors %}
					<li class="actor-card">
						<div class="card">
							<div class="card-body">
								<h3>{{ actor.first_name }}
									{{ actor.last_name }}</h3>
								<ul class="movie-list">
									{% for movie in actor.movies %}
										<li>
											<p>
												<strong>Film title:</strong>
												{{ movie.title }}</p>
											<p>
												<strong>Release date:</strong>
												{{ movie.released_year }}</p>
											<p>
												<strong>Movie synopsis:</strong>
												{{ movie.synopsis }}</p>
											<p>
												<strong>Movie duration:</strong>
												{{ movie.duration }}
												minutes</p>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>

			<a href="../api.php/actors.html.twig" class="btn btn-secondary">Tutti gli attori</a>
			<a href="../api.php/" class="btn btn-primary">Home page</a>
		</div>

		<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
